[submodule "mediasoup-client-ios/dependencies/libmediasoupclient"]
	path = mediasoup-client-ios/dependencies/libmediasoupclient
	url = https://github.com/sequenia/libmediasoupclient.git
	tag = 3.1.5
[submodule "mediasoup-client-ios/dependencies/webrtc/src"]
	path = mediasoup-client-ios/dependencies/webrtc/src
	url = https://github.com/sequenia/webrtc-mac-src.git
        branch = m84
